{# Рендерится отдельно в конце build.sh: список page_path приходит через -D pages -#}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in pages %}  <url><loc>{{ site_url }}{{ page }}</loc></url>
{% endfor %}</urlset>
