{% extends '../common/jinja/layouts/fog.jinja2' %}
{% set og_description = 'список музыкальных релизов' %}

{% block title %}
  потерпевшие | релизы
{% endblock %}

{% set releases = [
  {"title": "исправить", "link": "https://music.yandex.ru/album/24869109", "year": 2023, "_blank": true},
  {"title": "причины", "link": "https://music.yandex.ru/album/28555354", "year": 2023, "_blank": true},
  {"title": "что", "link": "https://music.yandex.ru/album/31123244", "year": 2024, "_blank": true},
  {"title": "слово", "link": "/releases/word", "year": 2024},
  {"title": "построчно", "link": "/releases/line-by-line", "year": 2025},
] %}

{% block main %}
  <div class="releases-container">
    {% for year, releases in releases|groupby('year')|reverse %}
      <div>
        <h2>{{ year }}</h2>
        <ul>
          {% for release in releases|reverse %}
            <li>
              <a
                {% if release._blank %}target="_blank"{% endif %}
                href="{{ release.link }}"
              >
                {{ release.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}

<style>
  {% block extra_styles %}
    .releases-container {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      gap: 3rem;
      flex-wrap: wrap;
      text-align: center;
    }

    .releases-container h2 {
      font-size: 1rem;
      opacity: 0.6;
    }

    ul {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
      list-style-type: none;
    }
  {% endblock %}
</style>