@view-transition {
  navigation: auto;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::view-transition-old(root) {
  animation: fade .3s ease-in both reverse;
}

::view-transition-new(root) {
  animation: fade .3s ease-in both;
}