{% extends './common/jinja/layouts/fog.jinja2' %}

{% block title %}
  потерпевшие | 404
{% endblock %}

{% block extra_styles %}
  .main-container h1 {
    font-size: 6rem;
    margin: 0;
  }
  .main-container a {
    font-size: 1.5rem;
  }
{% endblock %}

{% block main %}
  <h1>404</h1>
  <a id="home-link" title="на главную" href="/">потерялись?</a>
{% endblock %}