{% extends './common/layouts/fog.jinja2' %}

{% block title %}
  потерпевшие
{% endblock %}

{% block main %}
  <h1>
    <a title="место обитания" target="_blank" href="https://t.me/terpevshie">
      потерпевшие.
    </a>
  </h1>
{% endblock %}