{% extends './base.jinja2' %}

{% block head %}
  {{ super() }}
  {% include '../includes/font_old_standard.html' %}
{% endblock %}

{# telegram_link, sm_breakpoint и releases приходят из common/jinja/data.yaml #}

{# Components #}
{% import '../components/navbar.jinja2' as navbar %}
{% import '../components/fog.jinja2' as fog %}

{% block content %}
  {{ fog.html() }}

  {% if not exclude_navbar %}
    {{ navbar.html() }}
  {% endif %}

  <main class="main-container font-regular">
    {% block main %}{% endblock %}
  </main>
{% endblock %}

{% block script %}
  {{ fog.script() }}
{% endblock %}

{% block style %}
  <style>
    {% include '../includes/simple_reset.css' %}
    {% include '../includes/view_transition.css' %}

    {% if not exclude_navbar %}
      {{ navbar.styles() }}
    {% endif %}

    {{ fog.styles() }}

    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: #1e1e1e;
      color: #ffffff;
    }

    .font-regular {
      font-family: "Old Standard TT", serif;
      font-weight: 400;
      font-style: normal;
    }

    .main-container {
      flex-grow: 1;
      padding: 3rem 3rem 6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 1.2rem;
    }

    .main-container a {
      color: inherit;
      text-decoration: none;
      transition: color 150ms;
    }

    .main-container a:hover {
      color: #121212;
    }

    h1 {
      margin-bottom: 2rem;
    }

    h1, h2, h3 {
      font-size: 2rem;
      font-weight: normal;
    }

    @media screen and (max-width: {{ sm_breakpoint }}px) {
      .main-container {
        padding-bottom: 8rem;
      }
    }

    {% block extra_styles %}{% endblock %}
  </style>
{% endblock %}